body {
  background: linear-gradient(to right, #f44336, #210200);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.wheel {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.wheel span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.wheel span img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  object-fit: cover;
  transition: 2s;
}

.wheel span:hover img {
  transform: translateY(-70px) scale(1.2);
}
